body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

  /* style the legend */
.legend {
  padding: 10px;
  line-height: 18px;
  color: rgb(190, 187, 187);
  background-color: white;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}
